<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thedevelopercat.sonic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:networkSecurityConfig="@xml/sample_security_config"
        />
</manifest>
